/*footer 4.0修改  */
.commWith {width: 1200px; margin-left: auto;margin-right: auto;}
.zgg-foot1{width:100%; min-width: 1200px;}
.foot-special{height: 100px;background: #333333;}
.fast-good-ul{padding: 28px 0px; height: 44px;}
.bottfooter{border-top: 1px solid #4d4d4d;}
.fast-good-ul li{width:25%; float: left;}
.fast-good-ul .fast-good-icon{background: url(../images/fast-good-icon.png); display: block; width:42px; height: 44px;;}
.fast-good-ul .expert{background-position: 0 0;}
.fast-good-ul .fast{background-position: -50px 0;}
.fast-good-ul .good{background-position: -100px 0;}
.fast-good-ul .province{background-position: -150px 0;}
.fast-good-ul li.first{padding-left: 20px;}
.fast-good-ul li:nth-child(2){padding-left: 35px;}
.fast-good-ul li:nth-child(3){padding-left: 60px;}
.fast-good-ul li:nth-child(4){padding-left: 80px;}
.fast-good-comm{margin-left: 20px;}
.fast-good-comm h2{font-size: 16px; color: #FFFFFF; margin: 2px 0 11px 0; line-height: 16px; font-weight: bold;}
.fast-good-comm p{font-size: 14px; color: #999999; line-height: 14px;}
.zgg-foot1 .zgg-footTop{background: #333333; width:100%; min-width: 1200px; }
.zgg-foot1 .zgg-footBottom{background:#2b2b2b; width:100%; min-width: 1200px; height:100px;}
.footP{text-align:center;position: absolute;bottom:0;right: 54px;}
.footP h3{font-size:24px; line-height: 24px; color: #FFFFFF; margin-bottom: 12px; font-family: arial;}
.footP .week{font-size:14px; color: #cccccc; line-height: 14px;}
.footP .wbicon{width:35px; height:27px; background: url(../img/icon/weibo-icon.png) no-repeat;}
.footP .wbspan{font-size: 14px; color: #FFFFFF; line-height: 14px; padding: 0px 9px 0px 5px;}
.footP a{width:73px; height:24px; background: #4cc33c; text-align: center; color: #FFFFFF; line-height: 24px; font-size:14px;}
.footP a,.footP .wbspan,.footP .wbicon{vertical-align:middle; display: inline-block;}
.footbot{text-align: center; padding: 30px 0px 0px 0px;}
.footbot p{font-size:12px; color: #808080; line-height: 12px; margin-bottom: 11px;text-align: left;}
.footbot p a{color: #808080;}
.footbot img{padding: 0px 15px 0px 0px;}
.footbot .copy-right{margin-left: 40px;}
.zgg-foot1 .product-center{background:#ffffff;}

.zgg-footTop .top{height:auto;overflow:hidden;padding-bottom: 25px;}
.zgg-footTop .top ul{width:100%;height:auto;position: relative;}
.zgg-footTop .top ul li{float:left;height:auto;color:#999;font-size:14px;line-height:40px;margin-right:85px;}
.zgg-footTop .top ul li.ss-footul-mrginr7{margin-right: 95px;}
.zgg-footTop .top ul li.ss-footul-mrginr5{margin-right: 0;margin-right: 70px;}
.zgg-footTop .top ul li.ss-footul-mrginr6{padding-top: 0px;margin-right: 0px;float: right;}
.zgg-footTop .top ul li .tit{padding-top:20px;}
.zgg-footTop .top ul li .blue{ color:#e5e5e5;font-size:16px;font-weight:bold;}
.imgpc{height: 40px;padding-top: 10px;}
.zgg-footTop .top ul li a{color:#999;}
.zgg-footTop .top ul li .phone{padding-top:20px;text-indent:50px;background:url("../img/footer_phone.png") no-repeat left center;}
.zgg-footTop .top ul li .fenxiang{text-align:center;margin-top:15px;}
.zgg-footTop .top ul li .fenxiang img{margin-right:20px;}
.zgg-footTop .top ul li p img{vertical-align:middle;}
.zgg-footTop .top ul li.f-r{float:right;margin:0;margin-top:40px;width:150px;text-align:center;}
.ss-textaling{text-align: center;}
.ss-foothoverul li p a:hover{color: #ff9c00;}
.copy-left p span{padding-left: 20px;}